.ball-game-menu {
    width : 100%;
    height : 100%;
    background-image: url('/static/image/menu/background.gif');
    background-size : 100% 100%;
    user-select: none;
}

.ball-game-menu-field{
   width: 20vw;
   position: relative;
   top: 40%;
   left: 19%;
}

.ball-game-menu-field-item{
    height: 6vh;
    width: 18vw;
    color: white;
    font-size: 4vh;
    font-style: italic;
    margin: 1vh 0;
    cursor: pointer;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
}

.ball-game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}

.ball-game-playground{
    height : 100%;
    width : 100%;
    user-select: none;
    background-color: grey;
}

.ball-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball-game-settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.gif");
    background-size: 100% 100%;
    user-select: none;
 }

.ball-game-settings-login{
    height: 41vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
 }

.ball-game-settings-register{
    height: 49vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.ball-game-settings-title{
    color: white;
    font-size: 3vh;
    text-align: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
}

.ball-game-settings-username{
    display: block;
    height: 7vh;
}


.ball-game-settings-item{
    width: 100%;
    height: 100%;
}

.ball-game-settings-item > input{
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball-game-settings-password{
    display: block;
    height: 7vh;
}

.ball-game-settings-submit{
    display: block;
    height: 7vh;
}

.ball-game-settings-item > button {
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF8C00;
    border-radius: 5px;
}

.ball-game-settings-error-message{
    color: red;
    font-size: 1.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}


.ball-game-settings-option{
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.ball-game-settings-logo{
    display: block;
    height: 7vh;
}

.ball-game-settings-logo > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: block;
}


.ball-game-settings-logo > div {
    color: white;
    font-size: 1.5vh;
    text-align: center;
    display: block;
    cursor: pointer;
}

.ball-game-rank {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background2.gif");
    background-size: 100% 100%;
    user-select: none;
}

.ball-game-rank-table {
    width: 75%;
    height: 80%;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ball-game-rank-table > div > .btn {
    font-weight: bold;
    width: 50%;
    float: left;
    background-color: rgba(242, 242, 242, 0.7);
}

.ball-game-rank-table-score thead, .ball-game-rank-table-time thead {
    background-color: rgba(242, 242, 242, 0.7);
}

.ball-game-rank-table-score tbody, .ball-game-rank-table-time tbody {
    display: block;
    height: 60vh;
    overflow-y: auto;
    background-color: rgba(242, 242, 242, 0.7);
}

.ball-game-rank-table-score thead, .ball-game-rank-table-score-tbody tr, .ball-game-rank-table-time thead, .ball-game-rank-table-time tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.pagination {
    position: relative;
    left: 41%;
}

.ball-game-return {
    position: relative;
    top: 2.5%;
    left: 2.5%;
    color: white;
    width: 9vw;
    height: 5vh;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.5vw;
    background-color: rgba(39, 21, 28, 0.6);
}



