{% load static %}


<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="icon" href="https://circle-brawl.oss-cn-hongkong.aliyuncs.com/fire_balll.png">
</head>

<body style="margin: 0">
    <!--
    <audio autoplay loop>
        <source src="https://circle-brawl.oss-cn-hongkong.aliyuncs.com/MusMus-BGM-167.mp3" type="audio/mpeg">
    </audio>
    -->
    <div id="game_12345678"></div>
    <script type="module">
        import {BallGame} from "{% static 'js/dist/game.js' %}"
        $(document).ready(function(){
            let ball_game = new BallGame("game_12345678");
        });

    </script>
</body>
