{% load static %}

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
</head>

<body style="margin: 0">
    <div id="game_12345678"></div>
    <script type="module">
        import {BallGame} from "{% static 'js/dist/game.js' %}"
        $(document).ready(function(){
            let ball_game = new BallGame("game_12345678");
        });

    </script>
</body>
